.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 90px 200px;
    /* border: 1px solid black; */
}
.blog-card {
    width: 61vw;
    margin: 50px 0px;
    padding: 30px 50px;
    border-radius: 8px;
    background-color: white;
    color: #333333;
    cursor: pointer;
    transition: all .2s ease-in-out 0s;
}
.blog-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 27px 0px #ffb70e7c;
    box-shadow: 0px 0px 34px 0px rgba(137, 43, 226, 0.17);
}

@media only screen and (max-width: 400px) {
    .main-container {
        justify-content: center;
        align-items: center;
        margin: 90px 20px;
        /* border: 1px solid black; */
    }
    .blog-card {
        width: 80vw;
        margin: 50px 0px;
        padding: 20px 50px;
    }
}