body {
    /* background: linear-gradient(217deg, purple, blue); */
    /* background: black; */
}

.hero {
    display: none;
    margin: 0 0;
}
#h1 {
    position: absolute;
    top: 330px;
    left: 0px;
    color: rgb(0, 0, 0);
    font-size: 7vw;
    font-weight: 600;
    margin: 0;
    transform: rotate(-90deg);
}

Form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.form {
    /* display: block; */
    /* width: 30vw; */
    /* height: 80vh; */
    /* background: white; */
    background: transparent;
    color: black;
    font-size: 24px;
    font-weight: 500;
    /* border: 1px solid black; */
    border-radius: 7px;
    padding: 70px 70px;
    margin: 60px 4.5vw;
}
/* .form:hover {
    filter: blur(30px);
} */
.fheading {
    margin: 0;
}
input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-family: 'Poppins';
    color: black;
    padding: 10px 20px;
    margin-top: 7px;
    /* margin-left: 20px; */
}
textarea {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 13px;
    font-family: 'Poppins';
    color: black;
    padding: 10px 20px;
    margin-top: 7px;
    /* margin-left: 20px; */
}
/* #projectinfo {
    position: absolute;
    overflow: hidden;
    top: 90px;
    right: 285px;
} */
.btn {
    /* display: block;
    margin: 0 auto; */
    /* background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%); */
    /* background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%); */
    background: transparent;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px 30px;
    width: 100%;
}
.btn:hover {
    background: black;
    color: white;
}