Form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.form {
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    /* border: 1px solid white; */
    border-radius: 3px;
    padding: 70px 70px;
    margin: 70px 4.5vw;
    /* opacity: .17; */
}
.form:hover {
    opacity: 1;
}
.fheading {
    margin: 0;
}
input {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-top: 7px;
    /* margin-left: 20px; */
}
textarea {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 13px;
    font-family: 'Poppins';
    color: rgb(253, 253, 253);
    padding: 10px 20px;
    margin-top: 7px;
    /* margin-left: 20px; */
}
/* #projectinfo {
    position: absolute;
    overflow: hidden;
    top: 90px;
    right: 285px;
} */
.btn {
    /* display: block;
    margin: 0 auto; */
    /* background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%); */
    background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%);
    /* background: transparent; */
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    /* border: 1px solid rgb(255, 255, 255); */
    border: 0;
    border-radius: 3px;
    padding: 9px 30px;
    width: 100%;
}
.btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0;
}

@media only screen and (max-width: 400px) {
.form {
    padding: 35px 70px;
    margin: 0px 4.5vw;
}
}