#links-container {
    /* width: 20vw;
    height: 70vh; */
    margin: 8.9vw auto;
    /* border: 1px solid black;
    border-radius: 7px;
    background-color: transparent;
    transition: all .3s ease-in-out 0s; */
}
/* #links-container:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.17);
} */
#links-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
#links-container ul li {
    text-align: center;
    list-style: none;
    margin: 5vh 0px;
    width: 20vw;
}
#links-container ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.7vw;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px 3vw;
    background: transparent;
}
#links-container ul li a:hover {
    background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%);
    color: rgb(255, 255, 255);
    border: 0;
}

@media only screen and (max-width: 400px) {
    #links-container {
        margin: 22vh auto;
    }
    #links-container ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 5vw;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 7px;
        padding: 5px 5vw;
        background: transparent;
    }
    #links-container ul li a:hover {
        background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%);
        color: rgb(255, 255, 255);
        border: 0;
    }
    
}