body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
main {
    display: flex;
    flex-flow: row;
}
#grad {
    width: 50vw;
    height: 100vh;
    border: 1px solid black;
    background-color: black;
}

#cont {
    border: 1px solid black;
    background-color: black;
}