.projects {
    color: rgb(255, 255, 255);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63.89vw;
    height: 66.67vh;
    margin: 140px auto;
    font-size: 1.75vw;
    transition: all .3s ease-in-out 0s;
}
#box1 {
    background: url('../Content/Project1.webp') no-repeat center center/cover;
    /* background-color: black; */
}
#box2 {
    /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
    background-color: black;
}
#box3 {
    /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
    background-color: black;
}
#box4 {
    /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
    background-color: black;
}
#box5 {
    /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
    background-color: black;
}
.projects:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.17);
}
.projects a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 400px) {
    .projects {
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85vw;
        height: 28vh;
        margin: 150px auto;
        font-size: 2vw;
    }
    #box1 {
        background: url('../Content/Project1.webp') no-repeat center center/cover;
        /* background-color: black; */
    }
    #box2 {
        /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
        background-color: black;
    }
    #box3 {
        /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
        background-color: black;
    }
    #box4 {
        /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
        background-color: black;
    }
    #box5 {
        /* background: url('../Content/Project\ 1.webp') no-repeat center center/cover; */
        background-color: black;
    }
}