* {
    margin: 0;
    padding: 0;
    /* font-size: 100%; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: white url(../content/BgLinesB.svg) fixed top center;
    color: black;
}

header {
    border-bottom: 1px solid black;
    padding: 16px 20.83vw;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu li {
    list-style: none;
}
.menu a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.menu div {
    display: none;
}

main {
    padding: 60px 20.83vw;
}
.skills {
    display: flex;
    flex-direction: column;
    font-size: 5.5rem;
    font-weight: 300;
}
.skills a {
    text-decoration: none;
    color: black;
    letter-spacing: -4px;
}

footer {
    border-top: 1px solid black;
    padding: 24px 20.83vw;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width: 412px) {
    header {
        padding: 12px 7vw;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 6px;
    }
    .menu > li {
        display: none;
    }
    .menu > div {
        width: 30px;
        border-top: 3px solid black;
        padding: 3px 0px;
    }

    main {
        padding: 60px 6vw;
    }
    .skills {
        font-size: 2.9rem;
        letter-spacing: 10px;
    }
    .skills a {
        letter-spacing: normal;
    }

    footer {
        padding: 12px 6vw;
    }
}