* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: black url(../content/BgLines.svg) fixed;
    color: white;
}

.options {
    position: fixed;
    padding: 40px 120px;
}
.blog {
    position: fixed;
}
.contact {
    position: fixed;
    bottom: 40px;
    right: 120px;
}
.projects {
    position: fixed;
    bottom: 40px;
}
.social-icons {
    position: fixed;
    right: 120px;
    font-size: 1.27rem;
    letter-spacing: 4px;
}
div > a {
    text-decoration: none;
    color: white;
}


section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    padding: 0 120px;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width: none;
}
.hero {
    font-size: 7.5rem;
    font-weight: 700;
    text-align: center;
}
#subtitle {
    font-size: 2.25rem;
    font-weight: 600;
    width: 50vw;
    margin: 48px 0;
}
.hero > p {
    line-height: 1;
}
.hero > a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 6px 36px;
    border: 2px solid white;
}
.hero > a:hover {
    color: black;
    border: 2px solid white;
    background: white;
}

.allskills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px;
}
.allskills > a {
    text-decoration: none;
    color: white;
}
.skills {
    font-size: 4.25rem;
    font-weight: 600;
}

.about > span{
    margin: 40px 0;
}

.allProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.grid {
    border: 1px solid white;
    height: 80vh;
}
#p0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.p0grid {
    border: 1px solid white;
    filter: invert();
}
#comp1 {
    background: url(../content/1.svg) no-repeat center center;    
}
#comp2 {
    background: url(../content/2.svg) no-repeat center center;
}
#comp3 {
    background: url(../content/3.svg) no-repeat center center;
}
#comp4 {
    background: url(../content/4.svg) no-repeat center center;
}
#comp5 {
    background: url(../content/5.svg) no-repeat center center;
}
#comp6 {
    background: url(../content/6.svg) no-repeat center center;
}
/* #comp7 {
    background: url() no-repeat center center;
}
#comp8 {
    background: url() no-repeat center center;
}
#comp9 {
    background: url() no-repeat center center;
}
#comp10 {
    background: url() no-repeat center center;
}
#comp11 {
    background: url() no-repeat center center;
}
#comp12 {
    background: url() no-repeat center center;
} */

/* #p1 {
    background: url(https://source.unsplash.com/1600x900/?nature,water);
}
#p2 {
    background: url(https://source.unsplash.com/1600x900/?human,dog);
}
#p3 {
    background: url(https://source.unsplash.com/1600x900/?dog,cat);
}
#p4 {
    background: url(https://source.unsplash.com/1600x900/?human,cat);
}
#p5 {
    background: url(https://source.unsplash.com/1600x900/?nature,water);
}
#p6 {
    background: url(https://source.unsplash.com/1600x900/?nature,water);
}
#p7 {
    background: url(https://source.unsplash.com/1600x900/?nature,water);
}
#p8 {
    background: url(https://source.unsplash.com/1600x900/?nature,water);
}
#p9 {
    background: url(https://source.unsplash.com/1600x900/?nature,water);
}
#p10 {
    background: url(https://source.unsplash.com/1600x900/?nature,water);
} */
#p11, #p-1 {
    background: transparent;
    border: 0;
    padding-top: 64px;
    font-size: 1.25rem;
}
#p12 {
    background: url(../content/YBg.webp) no-repeat center center;
    background-size: cover;
    filter: grayscale();
    border: 0;
}

#cta {
    margin-top: 40px;
    border-color: gold;
}
#cta:hover {
    color: black;
    background: linear-gradient(135deg, gold, goldenrod);
}

.arrow {
    font-size: 2.25rem;
    margin: 40px 0;
}

