@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    /* background: colour url('image') no-repeat fixed center center/cover; */
    background: url('/Content/Bg.webp') no-repeat fixed center center/cover;
    /* background: white; */
    /* background: linear-gradient(217deg, purple, navy, blue); */
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    color: black;
}
/* body::before {
    content: "";
    background: url('https://source.unsplash.com/1600x900/?tech,code') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
} */

.announcements {
    text-align: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 56px rgb(0, 0, 0, 0.17);
    padding: 12px 0;
    color: black;
    /* font-size: 16px; */
    font-size: 1.1vw;
    z-index: 1;
}
#blog, #free {
    text-decoration: none;
    color: blue;
}

.container {
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0px -8px 56px rgb(0, 0, 0, 0.17);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
.opt {
    /* display: inline-block; */
    /* width: 33%; */
    /* text-align: center; */
    padding: 12px 0;
}
#prj, #pr, #co {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    /* border: 1px solid black; */
    border-radius: 3px;
    padding: 5px 30px;
    background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%);
    /* background: white; */
    /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
    transition: all .2s ease-out 0s;
}
#prj:hover {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.34));
    font-size: 15.5px;
    transform: scale(1.05);
    /* border: 0;
    background: black;
    color: white; */
}
#pr:hover {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.34));
    font-size: 15.5px;
    transform: scale(1.05);
    /* border: 0;
    background: black;
    color: white; */
}
#co:hover {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.34));
    font-size: 15.5px;
    transform: scale(1.05);
    /* border: 0;
    background: black;
    color: white; */
}

.hero::before {
    content: "";
    position: absolute;
    background: url('/Content/YBg.webp') no-repeat scroll center center/cover;
    width: 70%;
    height: 73%;
    z-index: -1;
    border-radius: 5px;
}
.hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 275px 15vw;
    text-align: left;
    color: white;
}
#pp {
    width: 20vw;
    border: 3px solid #ffb50e;
    border-radius: 100%;
    filter: grayscale();
}
#pp:hover {
    filter: grayscale(0);
}
#name, #bio, #about {
    /* width: 100%; */
    line-height: 130%;
}
#name {
    /* position: absolute;
    left: 300px; */
    font-size: 4vw;
    font-weight: 600;
    margin: 0;
    margin-left: 50px;
}
#bio {
    /* position: absolute;
    left: 300px; */
    font-size: 1.5vw;
    font-weight: 400;
    margin: 0;
    margin-left: 50px;
    width: 30vw;
}
#about {
    /* position: absolute;
    left: 300px; */
    font-size: 1vw;
    font-weight: 300;
    margin-bottom: 20px;
    width: 27vw;
    margin-left: 50px;
}
#about span {
    font-weight: 500;
}
#about span:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
#name:hover {
    color: white;
    cursor: default;
    text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.34);
}
#bio:hover {
    color: white;
    cursor: default;
}
#about:hover {
    color: white;
    cursor: default;
}
.cta {
    /* position: relative;
    right: 307px; */
    text-align: center;
    /* background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%); */
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 25px;
    margin-left: 50px;
}
.cta:hover {
    /* background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%); */
    background: black;
    color: white;
    border: 0;
    box-shadow: 0px 5px 25px rgba(100, 0, 255, 0.17);
}   

* {
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    height: 17vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    box-shadow: 0px -8px 56px rgb(0, 0, 0, 0.17);
}
.footer p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-top: 1.3vw;
}
.social-icons
{
    padding-top: 1.3vw;
}

.social-icons a
{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 100%;
}

.social-icons a .fa
{
    line-height: 50px;
}

.social-icons a:hover
{
    /* background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%); */
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: all .2s ease-out 0s;
    transform: scale(1.2);
}

@media only screen and (max-width: 400px) {
    .announcements {
        text-align: center;
        position: fixed;
        top: 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
        box-shadow: 0px 8px 56px rgb(0, 0, 0, 0.17);
        padding: 10px 0;
        color: black;
        font-size: 3.9vw;
    }
    #blog, #free {
        text-decoration: none;
        color: blue;
    }
    
    .hero::before {
        content: "";
        position: absolute;
        background: url('/Content/YBg.webp') no-repeat scroll center center/cover;
        width: 90%;
        height: 80%;
        z-index: -1;
        border-radius: 5px;
    }
    .hero {
        align-items: flex-start;
        margin: 125px 4.8vw;
        text-align: left;
        color: white;
    }
    #pp {
        width: 55vw;
        border-radius: 100%;
        /* box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.24); */
    }
    #name {
        font-size: 12vw;
        font-weight: 600;
        margin: 0;
        margin-left: 30px;
        margin-top: 350px;
    }
    #bio {
        font-size: 4.6vw;
        font-weight: 400;
        margin: 0;
        margin-left: 30px;
        width: 80vw;
    }
    #about {
        font-size: 3.4vw;
        font-weight: 300;
        margin-bottom: 20px;
        width: 80vw;
        margin-left: 30px;
    }
    .cta {
        text-align: center;
        /* background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%); */
        background: transparent;
        cursor: pointer;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 500;
        font-family: 'Poppins';
        border: 1px solid rgb(255, 255, 255);
        border-radius: 7px;
        padding: 5px 15px;
        margin-left: 30px;
    }
    .cta:hover {
        /* background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%); */
        background: black;
        color: rgb(255, 255, 255);
        border: 0;
    }
    .container {
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
        box-shadow: 0px -8px 56px rgb(0, 0, 0, 0.17);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .opt {
        padding: 10px 0;
    }
    #prj, #pr, #co {
        text-decoration: none;
        color: black;
        font-size: 12px;
        /* font-size: 3vw; */
        font-weight: 500;
        /* border: 1px solid black; */
        border-radius: 7px;
        padding: 5px 20px;
        background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%);
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
    }
    #prj:hover {
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
        font-size: 13px;
    }
    #pr:hover {
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
        font-size: 13px;
    }
    #co:hover {
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
        font-size: 13px;
    }

    .footer {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        width: 100%;
        height: 14vh;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        /* align-items: center; */
        font-size: 5vw;
        box-shadow: 0px -8px 56px rgb(0, 0, 0, 0.17);
    }
    .footer p {
        font-size: 14px;
        padding-top: 3.7vw;
        margin: 0;
    }

    .social-icons
    {
        padding-top: 1.5vw;
    }
    .social-icons a
    {
        display: inline-block;
        width: 36px;
        height: 36px;
        text-align: center;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 100%;
    }
    .social-icons a .fa
    {
        line-height: 36px;
    }
    .social-icons a:hover
    {
        /* background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%); */
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        transition: all .2s ease-out 0s;
        transform: scale(1.2);
    }
}