@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* html {
    width: 100vw;
    height: 100vh;
} */

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(255, 255, 255);
    /* background: linear-gradient(217deg, purple, blue); */
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}
/* body::before {
    content: "";
    background: url('https://source.unsplash.com/1600x900/?tech,code') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
} */

.announcements {
    text-align: center;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0px 8px 56px rgb(0, 0, 0, 0.17);
    padding: 12px 0;
    color: black;
    /* font-size: 16px; */
    font-size: 1.1vw;
}
#blog, #free {
    text-decoration: none;
    color: blue;
}

.container {
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0px -8px 56px rgb(0, 0, 0, 0.17);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.opt {
    /* display: inline-block; */
    width: 33%;
    text-align: center;
    padding: 12px 0;
}
#pr, #ex, #co {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    /* border: 1px solid black; */
    border-radius: 7px;
    padding: 5px 30px;
    background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%);
    /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
}
#pr:hover {
    /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
    font-size: 15.5px;
}
#ex:hover {
    /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
    font-size: 15.5px;
}
#co:hover {
    /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
    font-size: 15.5px;
}

.hero {
    text-align: center;
    margin: 130px auto;
    /* display: flex; */
    /* flex-flow: column wrap; */
    /* justify-content: center; */
    /* align-items: center; */
}
img {
    width: 19vw;
    border-radius: 100%;
    /* box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.24); */
}
#name, #bio, #about {
    /* width: 100%; */
    line-height: 130%;
}
#name {
    font-size: 5vw;
    font-weight: 600;
    margin: 0;
}
#bio {
    font-size: 2.22vw;
    font-weight: 300;
    margin: 0;
}
#about {
    font-size: 1.18vw;
    font-weight: 300;
    margin-bottom: 25px;
}
#about span {
    font-weight: 500;
}
.cta {
    display: block;
    margin: 0 auto;
    /* background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%); */
    background: transparent;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px 25px;
}
.cta:hover {
    background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%);
    color: rgb(255, 255, 255);
    border: 0;
}

.projects {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63.89vw;
    height: 66.67vh;
    margin: 150px auto;
    font-size: 1.75vw;
    /* box-shadow: 0 0px 34px rgb(0, 0, 0, 0.75); */
}    

.form {
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    top: 80px;
    left: 485px;
    font-size: 24px;
    font-weight: 500;
    border: 0;
    border-radius: 7px;
    padding: 70px 70px;
}
/* .form:hover {
    filter: blur(30px);
} */
.btn {
    /* display: block;
    margin: 0 auto; */
    /* background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%); */
    background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    border: 0;
    border-radius: 7px;
    padding: 5px 30px;
    width: 100%;
}
.btn:hover {
    background: white;
    color: rgb(0, 0, 0);
}
input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    font-family: 'Poppins';
    color: white;
    padding: 10px 20px;
    margin-top: 7px;
    /* margin-left: 20px; */
}

* {
    box-sizing: border-box;
}

.footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75vw;
}

@media only screen and (max-width: 400px) {
    .announcements {
        text-align: center;
        position: fixed;
        top: 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
        box-shadow: 0px 8px 56px rgb(0, 0, 0, 0.17);
        padding: 10px 0;
        color: black;
        font-size: 3.9vw;
    }
    #blog, #free {
        text-decoration: none;
        color: blue;
    }

    .hero {
        text-align: center;
        margin: 180px auto;
        /* display: flex; */
        /* flex-flow: column wrap; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    img {
        width: 44vw;
        border-radius: 100%;
        /* box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.24); */
    }
    #name {
        font-size: 7vw;
        font-weight: 600;
        margin: 0;
    }
    #bio {
        font-size: 3.1vw;
        font-weight: 300;
        margin: 0;
    }
    #about {
        font-size: 2.25vw;
        font-weight: 300;
        margin-bottom: 25px;
    }
    .cta {
        display: block;
        margin: 0 auto;
        /* background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%); */
        background: white;
        cursor: pointer;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 500;
        font-family: 'Poppins';
        border: 1px solid black;
        border-radius: 7px;
        padding: 5px 15px;
    }
    .cta:hover {
        background: linear-gradient(224.72deg, #0004ff 0.62%, #6201ff 100%);
        color: rgb(255, 255, 255);
        border: 0;
    }

    .projects {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 50vh;
        margin: 150px auto;
        font-size: 1.75vw;
        /* box-shadow: 0 0px 34px rgb(0, 0, 0, 0.75); */
    }

    .container {
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
        box-shadow: 0px -8px 56px rgb(0, 0, 0, 0.17);
        display: flex;
    }
    .opt {
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }
    #ex, #pr, #co {
        text-decoration: none;
        color: black;
        font-size: 12px;
        /* font-size: 3vw; */
        font-weight: 500;
        /* border: 1px solid black; */
        border-radius: 7px;
        padding: 5px 15px;
        background: linear-gradient(224.72deg, #FFDD55 0.62%, #FFAD01 100%);
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
    }
    #ex:hover {
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
        font-size: 13px;
    }
    #pr:hover {
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
        font-size: 13px;
    }
    #co:hover {
        /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.32)); */
        font-size: 13px;
    }
}